# 大公的领导力：核查

**大公的领导力：核查** 是一系列支持 [恩弗·戈塔什](Enver_Gortash.md "恩弗·戈塔什") 竞选大公的宣传册之一。

这本书散发着纸张和油墨的诱人气息。

## 属性

- [书籍](Books.md "书籍")

- 作者：未知

- 稀有度：普通

- 重量：0.5 千克 (1 磅)

- 价格：14 金币

- UID `BOOK_GLO_GeneralLoreBook_AnArchdukesLeadership5` UUID `67a39a72-f199-4b66-8abb-45ce9afbd9bf` ## 获取地点

- 由 [纳西·格莉塔](Nansi_Gretta.md "纳西·格莉塔") 出售

- 位于 [清账屋高安保金库](Counting_House.md#The_Counting_House_-_High_Security_Vaults "清账屋") 的 [成排的书](Row_of_Books.md "成排的书") 中，坐标 X: -712 Y: 850

## 文本

大公的领导力：核查

戈塔什竞选大公志愿者活动宣传册。

作为大公，戈塔什勋爵的首要任务将是**核查**，以确保所有享有博德之门公民福利的人实际上都有资格获得这些福利。没有哪项政策比这更重要。

## 注释

- 另请参阅：
  - [大公的领导力：礼仪](An_Archduke's_Leadership_colon__Decorum.md "大公的领导力：礼仪")
  - [大公的领导力：纪律](An_Archduke's_Leadership_colon__Discipline.md "大公的领导力：纪律")
  - [大公的领导力：公共工程](An_Archduke's_Leadership_colon__Public_Works.md "大公的领导力：公共工程")
  - [大公的领导力：守护](An_Archduke's_Leadership_colon__Protection.md "大公的领导力：守护")
  - [大公的领导力：监视](An_Archduke's_Leadership_colon__Surveillance.md "大公的领导力：监视")
- 有些矛盾的是，戈塔什的所有文本都以“没有哪项政策比这更重要”作为结尾。

---
*Source: [An Archduke's Leadership: Verification](https://bg3.wiki/wiki/An_Archduke's_Leadership:_Verification)*