# 分类：需要验证的文章

此分类是 [分类：维护分类](Category_colon_Maintenance_categories.md "Category:Maintenance categories") 的子分类。它通过向页面添加 {{[verify](Template_colon_Verify.md "Template:Verify")}} 自动添加。请勿直接添加，请使用模板。

> “
>
> 愿上帝保佑你们这些验证这些可怜迷失灵魂的维基维护者。
>
> „

— [用户：HarveyPekar](User_colon_HarveyPekar.md "User:HarveyPekar")

---
*Source: [Category:Articles needing verification](https://bg3.wiki/wiki/Category:Articles_needing_verification)*